name: Build

on:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      id-token: none

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Login to GitHub
        uses: docker/login-action@v1.10.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: push
        uses: docker/build-push-action@v2.7.0
        with:
          build-args: BUILDID=${{github.run_id}}.${{github.run_attempt}}
          tags: ghcr.io/chrisns/cosign-demo-spotthedifference:unsigned-${{github.run_id}}.${{github.run_attempt}}
          push: true

      - name: push
        uses: docker/build-push-action@v2.7.0
        with:
          build-args: |
            SIGNED=true
            BUILDID=${{github.run_id}}.${{github.run_attempt}}
          tags: ghcr.io/chrisns/cosign-demo-spotthedifference:signed-${{github.run_id}}.${{github.run_attempt}}
          push: true

      - uses: sigstore/cosign-installer@v1.2.1

      - name: Sign the images
        run: cosign sign ghcr.io/chrisns/cosign-demo-spotthedifference:signed-${{github.run_id}}.${{github.run_attempt}}
        env:
          COSIGN_EXPERIMENTAL: 1
